body {
    display: flex;
    flex-direction: column;
}

/* Header */

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.links > a {
    margin: 0 1vw;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
    &:hover {
        color: #ccc;
    }
    transition: all 0.3s ease;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
    }
    .links > a {
        margin: 1vw 0;
    }
}

/* Main */

.title{
    text-align: center;
}
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    & > .preuveTitle{
        height: 5vh;
        margin: 0 1vw;
    }
}

.active > .title-container > .preuveTitle{
    display: none;
}

.grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
}
.card {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    &:hover {
        background-color: #ddd;
    }
    transition: all 0.3s ease;
}
.card .card-content {
    display: none;
}

.active .card-content{
    display: block !important;
}

/* Preuves */
.card .card-content .preuves {
    display: flex;
    justify-content: center;
    align-items: center;
    & > .preuve {
        display: flex;
        flex-direction: column;
        margin: 0 5vw;
        & > img {
            height: 10vh;
        }
    }
}

@media screen and (max-width: 768px) {
    .preuve {
        margin: 0;
    }
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    & > input{
        margin: 1vw 1vw;
    }
}