.titleEquipment{
    text-align: center;
    font-size: 50px;
}

.levels{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    & > .level {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        & > .level-description {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 768px) {
    .levels{
        flex-direction: column;
        & > .level {
            margin-bottom: 20px;
        }
    }
}