.tarot{
    margin: 0;
    transform: perspective(0) rotateY(0);
    transition: transform 1s;
    backface-visibility: hidden;
    position: relative;
}
.content-wrapper-cards{
    display: flex;
    flex-direction: row !important;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1rem;
}
